<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.qtav.core.test">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="36" />

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:extractNativeLibs="true"
        android:hasCode="false"
        android:label="QtAVCore native test"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">
        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="qtav_android_test" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
